/* ***********************************************************
**************************************************************
STAPA ACCES - shared style sheet

V 0.2.03
**************************************************************
************************ SOMMAIRE ****************************
	HEADER : _m > pages index, connexion, accueil, contact, etc
	HEADER : _o > pages interfaces utilisateurs.
	CORPS DE PAGE :
	CORPS DE PAGE : _m > pages index, connexion, contact, etc
	CORPS DE PAGE : _o > pages interfaces utilisateurs, appel requêtes.
	CORPS DE PAGE : resultat requete operateur.
	CORPS DE PAGE : resultat requete personne/utilisateur.
	CORPS DE PAGE : contact
	CORPS DE PAGE : modif personne.
	PIED DE PAGE
*********************************************************** */

/* **************************COLOR****************************
*****************************CHART************************* */
/* http://www.colorhexa.com/7094a0 							*/

/*	background-color: #0f1416;	> noir						*/	
/*	background-color: #1e2a2e;	> sombre II					*/
/*	background-color: #5d808c;	> sombre I					*/
/*	background-color: #7094a0;	> principale				*/
/*	background-color: #cedbdf;	> clair						*/
/*	background-color: #fdfefe;	> blanc						*/

/*	box-shadow: 0 4px 10px rgba(7,8,10,0.5);				*/

/*	color: #0f1416;											*/
/*	color: #1e2a2e;	titres									*/
/*	color: #5d808c;	principale								*/
/*	color: #828b8e;	texte grisé								*/
/*	color: #cedbdf;											*/

/* ***********************************************************
*********************************************************** */
															
html {
	margin: auto;
	width: 1300px;
	padding: 0;
	border: 0;
	overflow: auto;									
	font-family: 'Palanquin', sans-serif;
	color: #1e2a2e;
	background-color: #0f1416;
}

body {	 
	margin: auto;
	width: 1300px;
	padding: 0;
	border: 0;
	overflow: auto;									
	background-color: #fdfefe;
}

#content {	 
}

header {	 
	margin: auto;
	width: 1140px;
	height: 60px;
	background-color: #7094a0 ;
}

/* ***********************************************************
	HEADER : m > pages index, connexion, accueil, contact, etc
	
	- bannière grande
		- titre
		- logo grand
		
*********************************************************** */
#bann_m {
	margin: 30px -80px 0 0;
	width: 1300px;
	height: 100px;
	padding: 0px;
	font-weight: bold;
	background-color: #cedbdf ;
	/* border-radius: 8px; */
	float: right;
	box-shadow: 0 2px 7px rgba(7,8,10,0.6);
}

	#bann_m h2 {	 
		margin: 30px 80px 0 0px;
		width: 1140px;
		height: 100px;
		color: #5d808c;
		font-size: 34px;
/*			text-align: center;		*/
		float: right;
	}
	
	#bann_m h2 a {
	margin: 0px 80px 0 130px;

	}

/* ***********************************************************
	what is love ?
*********************************************************** */
				#e_egg_m {	 
					position:absolute;
					top:34px;
					left:983px;
					z-index: 0;
				}		 
			 
					#e_egg_m img {	 
						visibility: hidden;
						/* opacity: 0 !Important;  */
						width: 110px;
						border: 0px;
					}
					
					#e_egg_m:hover img {
							visibility: visible;
							/* transition: opacity 0.2s;  */
							/* opacity: 1;  */
					} 
					
					#e_bus_m {	 
						position:absolute;
						top: -30px;
						left: -30px;
						width: 170px !important;
						border: 0px;
					z-index: 1;
					}
					
	#logo_m {	 
		/* position:relative; */
		margin: -56px 130px 0 0;
		float: right;
	}

		#logo_m img {	 
			width: 170px;
			border: 0px;
		}

/* ***********************************************************
	HEADER :  o > pages interfaces utilisateur.
	
	- arrière-plan bannière (cache le texte défilant en arrière plan)
	- bannière petite statique
		- Message accueil, nom utilisateur
		- menu navigation
			- boutons page actuelle
			- boutons page accessible
			- boutons page non accessible
			- boutons déconnexion
		- logo petit

*********************************************************** */
#bann_o_bg {
	margin: 0 0 0 0;
	width: 1140px;
	height: 60px;
	background-color: #7094a0 ;
	position: fixed;
}

#bann_o {
	margin: 0px 0px 0px -80px;
	width: 1300px;
	height: 60px;
	background-color: #cedbdf ;
	position: fixed;
	/* border-radius: 8px; */
	box-shadow: 0 2px 6px rgba(7,8,10,0.4);
}

	#welcome {	 
		margin: 8px 10px 8px 60px;
		width: 300px;
		text-align: left;
		float: left;
		line-height: 18px;
	}
	
		#welcome a {
			font-size: 18px;
			font-weight: bold;
			color: #5d808c;
		}

		#username{
			font-size: small;
		}

	#menu_utilisateur{
		list-style: none;
		/* width: 650px; */
		margin: 10px 0px 10px 0px;
		padding-left: 0px;
		height: 40px;
		/* color: #cedbdf; */
		background-color: #5d808c ;
		float: left;
		box-shadow: 0 -1px 2px rgba(7,8,10,0.4);
	}

		#sous_menu_1_current,
		#sous_menu_2_current,
		#sous_menu_3_current {
			margin: -0.01% 0 0 0;
			width: 180px;
			height: 99.79%;
			background-color: #cedbdf;
			box-shadow: 0 1px 2px rgba(7,8,10,0.4);
			float:left;
		line-height: 0px;
		}

			#sous_menu_1_current input,
			#sous_menu_2_current input,
			#sous_menu_3_current input {
				text-decoration: none;
				width: 140px;
				margin: 10px 20px 10px 20px;
				color: #1e2a2e;
				/* text-align: center; */
				font-weight: bold;
				font-size: 16px;
				border: 0;
				background-color: rgba(0,0,0,0) ;
				font-family: 'Palanquin', sans-serif;
			}
			
		#sous_menu_1_on,
		#sous_menu_2_on,
		#sous_menu_3_on,
		#sous_menu_1_off,
		#sous_menu_2_off,
		#sous_menu_3_off {
			margin: 0.01% 0 0 0;
			width: 180px;
			height: 99.79%;
			background-color: #5d808c;
			box-shadow: 0 -1px 2px rgba(7,8,10,0.4);
			float:left;
		}

			#sous_menu_1_on input,
			#sous_menu_2_on input,
			#sous_menu_3_on input {
				text-decoration: none;
				width: 140px;
				margin: 10px 20px 10px 20px;
				color: #cedbdf;
				font-weight: bold;
				font-size: 16px;
				border: 0;
				background-color: rgba(0,0,0,0) ;
				font-family: 'Palanquin', sans-serif;
			}

			#sous_menu_1_off input,
			#sous_menu_2_off input,
			#sous_menu_3_off input {
				text-decoration: none;
				width: 140px;
				margin: 10px 20px 10px 20px;
				color: #828b8e;
				text-align: center;
				font-weight: bold;
				font-size: 16px;
				border: 0;
				background-color: rgba(0,0,0,0) ;
				font-family: 'Palanquin', sans-serif;
			}

		#deconnect {
			width: 180px;
			height: 99.99%;
			margin: 0.01% 0 0 0;
			background-color: #1e2a2e ;
			box-shadow: 0 -1px 2px rgba(7,8,10,0.4);
			float: right;
		}

			#deconnect input {
			text-decoration: none;
			width: 140px;
			margin: 10px 20px 10px 20px;
			text-align: center;
			color: #cedbdf;
			font-weight: bold;
			font-size: 16px;
				border: 0;
			background-color: rgba(0,0,0,0) ;
				font-family: 'Palanquin', sans-serif;
			float:left;
		}

/* ***********************************************************
	what is love ?
*********************************************************** */
					#e_egg_o {	 
						position:absolute;
						top:12px;
						left:1193px;
						z-index: 0;
					}		 
				 
						#e_egg_o img {	 
							visibility: hidden;
							width: 39px;
							border: 0px;
						}
						
						#e_egg_o:hover img {
								visibility: visible;
						} 
						
						#e_bus_o {	 
							position:absolute;
							top: -10px;
							left: -9px;
							width: 56px !important;
							border: 0px;
						z-index: 1;
						}

	#logo_o {	 
		margin: 2px 60px 0 0;
		float: right;
	}

		#logo_o img {	 
			width: 56px;
			border: 0px;
		}

/* ***********************************************************
	CORPS DE PAGE :
	
	- arrière-plan (raccord au header)

*********************************************************** */
#main_bg {
	margin: auto;
	width: 1140px;
	min-height: 500px;
	background-color: #7094a0 ;
}

/* ***********************************************************
	CORPS DE PAGE : _m > pages index, connexion, contact, etc
	
	- main phrasing
		- bloc connexion	> page connexion seulement
			- champs ID/PSW

*********************************************************** */
#main_m {
	margin: auto;
	height: 420px;
	padding: 40px 60px 40px 60px;
	background-color: #7094a0 ;
}

	#connect {
		margin: 80px 10px 10px 200px;
		width: 240px;
		padding: 10px;
		background-color: #5d808c ;
		text-align: center;
		float: left;
		/* border-radius: 8px; */
		box-shadow: 0 1px 8px rgba(7,8,10,0.7)
	}

		#connect p a {
			text-decoration: none;
			color: #cedbdf;
			font-weight: bold;
			font-size: 18px;
		}

		#input {
			background-color: #cedbdf;
			border: 0px;
		}

		#sub {
			width: 160px;
			padding: 10px;
			border: 0px;
			color: #cedbdf;
			font-weight: bold;
			font-size: 20px;
			background-color: #5d808c ;
			font-family: 'Palanquin', sans-serif;
		}

/* ***********************************************************
	CORPS DE PAGE : _o > pages interfaces utilisateurs, appel requêtes.
	
	- phrasing interfaces
		- fieldset / légende
			- cadre de fonction principale (opé,ges,adm)
			- liste choix requêtes
			- description de la requete selectionnée
			- champs
			- radio select (admin)
			- boutons
				- lance-requête
				- clear selection
				- recherche

*********************************************************** */
#main_o {
	margin: auto;
	padding: 40px 60px 50px 60px;
}

	#main_o fieldset {
		margin: auto;
		padding: 20px 20px 20px 20px;
		/* height: 400px; */
		background-color: #cedbdf;
		border: 6px double #5d808c;
		/* border-radius: 8px; */
	}

	#main_o legend {
		height: 23px;
		width: 180px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		color: #cedbdf;
		background-color: #5d808c;
		border: 8px double;
		/* border-radius: 4px; */
		border-color: #5d808c;
		box-shadow: 0 1px 2px rgba(7,8,10,0.4)
	}

		#t_requetes {
			/* margin: 10px 30px 0 20px; */
			width: 460px;
			background-color: #fdfefe;
			border: 0px;
			/* border-radius: 4px; */
			float:left;
			clear: both;
		}

			#t_requetes option {
				padding-top: 5px;
				height: 30px;
				font-size: 16px;
				font-weight: bold;
				color: #1e2a2e;
				font-family: 'Palanquin', sans-serif;
			}

		#desc_requetes {
			margin: 0 0 0 10px;
			padding: 16px;
			width: 440px;
			height: 80px;
			font-size: 16px;
			font-weight: bold;
			color: #5d808c;
			text-align: justify;
			background-color: #cedbdf;
			/* border-radius: 4px; */
			border: 2px solid #1e2a2e;
			float: right;
			/* clear: both; */
		}

		#field_name {
			margin: -5px 0 0 0;
			padding: 3px;
			width: 320px;
			height: 21px;
			font-size: 14px;
			font-weight: bold;
			color: #5d808c;
			text-align: justify;
			background-color: #fdfefe;
			/* border-radius: 4px; */
			border: 2px solid #1e2a2e;
			/* float: right; */
			/* clear: both; */
		}

		#admin_01 label:nth-child(1) {
			font-size: 18px;
			font-weight: bold;
			color: #5d808c;
			
		}

		#random_id {
				clear: both;
				float: right;
			}

				#random_id nav {
					padding-top: 8px;
					width: 180px;
					height: 30px;
					background-color: #5d808c ;
					text-align: center;
					font-weight: bold;
					/* border-radius: 4px; */
					box-shadow: 0 -1px 2px rgba(7,8,10,0.4);
				}
				
					#query {
					margin: -65px 270px 0 0;
					}

					#clear{
					margin: -37px 0px 0 240px;

					}

					#random_id nav input {
						border: 0px;
						color: #1e2a2e;
						font-weight: bold;
						font-size: 16px;
						background-color: #5d808c ;
						font-family: 'Palanquin', sans-serif;

					}

			#query_name {
				/* clear: both; */
				/* float: right; */
				border: 0px !important;
				width: 180px;
				height: 30px;
				margin: -4px 0px 0px 0px;
				/* border-radius: 4px; */
				font-size: 16px;
				font-weight: bold;
				color: #1e2a2e !important;
				background-color: #5d808c !important;
				box-shadow: 0 -1px 2px rgba(7,8,10,0.4);
				font-family: 'Palanquin', sans-serif !important;

			}


/* ***********************************************************
	CORPS DE PAGE : resultat requete operateur.
	
	- tableau
	- entetes
	
*********************************************************** */
	#tableau_operateur {
		width: 1020px;
		/* min-width: 100%; */
		margin: 40px auto;
		height: auto;
		border-collapse: collapse;
	}
	

	#tableau_operateur td{
		padding: 0 4px 0 4px;
		font-size: 12px;
		color: #1e2a2e;
		background-color: #cedbdf ;
		border: 1px solid;
	}
	
	#tableau_operateur tbody:nth-child(1) tr:nth-child(1) { 
		font-size: 13px;
		color: #fdfefe;
		background-color: #1e2a2e; 
	 }

	#tableau_operateur tbody:nth-child(1) tr:nth-child(2) td:nth-child(1) {
		padding: 0 3px 0 3px;
		font-size: 12px;
		color: #1e2a2e;
		/* text-align: center; */
		background-color: #cedbdf ;
		border: 1px solid;
	}
	
	#tableau_operateur tbody:nth-child(1) {
	}

	
/* ***********************************************************
	CORPS DE PAGE : resultat requete personne/utilisateur.
	
	- tableau
	- boutons modif
	
*********************************************************** */

 /* #tableau_operateur tbody:nth-child(1) tr:nth-child(2) td:nth-child(5) { */
	/* background-color: #5d808c; */
	/* text-align: center; */
 /* }  */
 
#tableau_operateur tbody:nth-child(1) tr:nth-child(2) td {
	
}
	/* #tableau_operateur tbody:nth-child(1) tr:nth-child(2) td:nth-child(5) input:nth-child(1), */

	.butt_modif_int {
		border:  0px !important;
		height: 30px;
		margin: 0 -4px 0 -4px;
		font-size: 14px;
		font-weight: bold;
		color: #1e2a2e !important;
		background-color: #5d808c !important;
		/* box-shadow: 0 -1px 2px rgba(7,8,10,0.4); */
		font-family: 'Palanquin', sans-serif !important;

	}

/* ***********************************************************
	CORPS DE PAGE : modif personne.
	
	- label
	- champs
	
*********************************************************** */
	#formulaire_gestion table tbody tr td label {
		font-size: 14px;
		font-weight: bold;
		color: #1e2a2e;
	}

	#formulaire_gestion table tbody tr td input {
		margin: 20px 0 0 0;
		background-color: #fdfefe;
		border: 1px solid #1e2a2e;
		font-family: 'Palanquin', sans-serif;
	}


/* ***********************************************************
	CORPS DE PAGE : modif utilisateur.
	
	- label
	- champs
	
*********************************************************** */
	#user_edit {
		margin: 40px auto;
		height: auto;
		padding: 5px;
		border: 1px solid #1e2a2e;
	}

/* ***********************************************************
	CORPS DE PAGE : contact
	
	- phrasing contact

*********************************************************** */
#contact {
	margin: auto;
	margin-left: 20px;
	width: 1100px;
	padding: 20px;
}


/* ***********************************************************
	PIED DE PAGE
	
	- arrière-plan (raccord au header)
	- bannière petite 
		- liens
	
*********************************************************** */
#end {
	margin: 0 0 0 80px;
	width: 1140px;
	padding: 0 0 0 0;
	background-color: #7094a0 ;
}

#end footer {	 
	margin: 0 0 0 -80px;
	width: 1300px;
	padding-top: 10px;
	height: 60px;
	background-color: #1e2a2e;
	/* border-radius: 4px; */
	box-shadow: 0 -2px 7px rgba(7,8,10,0.6)
}

	#end footer a {	 
		text-decoration: none;
		margin: 0 145px 0 155px;
		color: #5d808c;
		text-align: center;
		font-size: 16px;
	}



#contact_formulaire
{
	margin:auto;
	text-align: center;
}

#formulaire_gestion
{
	margin : auto;
	margin-left: 30%;
	text-align : justify;
}